
/*Computer View*/
@media (max-width:1359px){
    
}
@media (max-width:1024px){
    .main_header{padding: 5px 0px 5px 0px;}
    .second_header_image img{width: 100%;}
    .social_media{
        text-align: center;
        padding-bottom: 10px;
    }
    .main_heading h2{
        font-size: 27.5px;
        padding: 0px 0px 5px 0px;
        margin-left: -80px;
    }
    .news_part{
        width: 100%;
        height: 450px;
    }
    .news_head{
        height:354px;
    }
    .head_image{
        width: 60%;
        height: 350px;
    }
    .head_image img{
        height: 350px;
    }
    .head_text{
        width: 40%;
        height: 350px;
        padding: 8px;
    }
    .head_text p{
        font-size:17.5px;
    }
    .head_btn{
        padding: 0px;
        margin-top: -14px;
        padding-left: 20px;
    }
    .head_btn i{
        font-size:18px;
    }
    .btn_3{
        border-radius: 12px;
        font-size: 17px;
        text-align: center;
        width: 110px;
        height: 40px;
        border: none;
    }
    .hasImg > img{height: 400px;}
    .post_news .container .row .col-lg-7 > img{height: 350px;}
    .left_advertisement{padding: 85px 0px 10px 0px;}
    .left_advertisement img{width: 100%;}
    .main_news{padding: 7px 0px 0px 20px;}
    .item_image img{
        width: 50%;
        padding: 10px;
        height: 250px;
    }
    .item_text{
        width: 50%;
        height: 250px;
        padding: 7px;
    }
    .item_text h4{font-size: 14px;}
    .item_text h6{font-size: 12px;}
    .item_text p{font-size: 15px;}
    .head_btn_last{padding: 10px 10px 0px 0px; margin-top: -15px;}
    .head_btn_last i{font-size:17px;}
    .head_btn_last .btn_last{
        font-size: 15px;
        width: 100px;
        height: 40px;
    }
    .left_video iframe{height: 250px;}
    hr{padding:0px; margin-top: -5px;}
    .left_video{padding: 10px 0px 0px 10px;}
    .right_video{padding: 10px 10px 0px 0px;}
    .word{font-size:14px;}
    .third_video, .fourth_video, .fifth_video{display:none;}
    .section_part{height: 5150px;}
    .left{
        width: 75%;
        height: 5100px;
    }
    .right{
        width: 25%;
        display: block;
        height: 5100px;
    }
    .advertisement img{height: 150px;}
    .btn_value{text-align:center; padding: 2px 0px 8px 0px;}
    .btn_2{
        border-radius: 10px;
        font-size: 17px;
        width: 115px;
        height: 35px;
    }

    .lastfooter{font-size: 14px;}
}

/*Tablet View*/
@media (max-width:990px){
    .second_header_image img{width: 100%;}
    .social_media{
        text-align: center;
        padding-bottom: 10px;
    }
    .main_heading h2{
        font-size: 17px;
        margin-left: -80px;
    }
    .news_part{
        width: 100%;
        height: 400px;
    }
    .news_head{
        height:304px;
    }
    .head_image{
        width: 60%;
        height: 300px;
    }
    .head_image img{
        height: 300px;
    }
    .head_text{
        width: 40%;
        height: 300px;
        padding: 5px;
    }
    .head_text p{
        font-size:13px;
    }
    .head_btn{
        padding: 0px;
        padding-left: 10px;
    }
    .head_btn i{
        font-size:15px;
    }
    .btn_3{
        border-radius: 12px;
        font-size: 13px;
        text-align: center;
        width: 100px;
        height: 35px;
        border: none;
    }
    .left_advertisement{padding: 85px 0px 10px 0px;}
    .left_advertisement img{width: 100%;}
    .main_news{padding: 7px 0px 0px 20px;}
    .item_image img{
        width: 50%;
        padding: 10px;
        height: 250px;
    }
    .item_text{
        width: 50%;
        height: 250px;
        padding: 7px;
    }
    .item_text h4{font-size: 12px;}
    .item_text h6{font-size: 10px;}
    .item_text p{font-size: 12px;}
    .head_btn_last{padding: 0px 10px 0px 0px; margin-top: -15px;}
    .head_btn_last i{font-size:15px;}
    .head_btn_last .btn_last{
        font-size: 13px;
        width: 90px;
        height: 35px;
    }
    .left_video iframe{height: 300px;}
    .left_video, .right_video{
        padding: 10px;
    }
    .left{
        width: 100%;
        height: 5550px;
    }
    .right{display: none;
    }
    footer{margin-top: -380px;}
    .lastfooter{font-size: 14px;}
}


/*Portrait Tablet View*/
@media (max-width:800px){
    .second_header_image img{width: 100%;}
    .social_media{
        text-align: center;
        padding-bottom: 10px;
    }
    .main_heading h2{
        font-size: 17px;
        margin-left: -80px;
    }
    .news_part{
        width: 100%;
        height: 400px;
    }
    .news_head{
        height:304px;
    }
    .head_image{
        width: 60%;
        height: 300px;
    }
    .head_image img{
        height: 300px;
    }
    .head_text{
        width: 40%;
        height: 300px;
        padding: 5px;
    }
    .head_text p{
        font-size:13px;
    }
    .head_btn{
        padding: 0px;
        padding-left: 10px;
    }
    .head_btn i{
        font-size:15px;
    }
    .btn_3{
        border-radius: 12px;
        font-size: 13px;
        text-align: center;
        width: 100px;
        height: 35px;
        border: none;
    }
    .left_advertisement{padding: 85px 0px 10px 0px;}
    .left_advertisement img{width: 100%;}
    .main_news{padding: 7px 0px 0px 20px;}
    .item_image img{
        width: 50%;
        padding: 10px;
        height: 250px;
    }
    .item_text{
        width: 50%;
        height: 250px;
        padding: 7px;
    }
    .item_text h4{font-size: 12px;}
    .item_text h6{font-size: 10px;}
    .item_text p{font-size: 12px;}
    .head_btn_last{padding: 0px 10px 0px 0px; margin-top: -15px;}
    .head_btn_last i{font-size:15px;}
    .head_btn_last .btn_last{
        font-size: 13px;
        width: 90px;
        height: 35px;
    }
    .left_video iframe{height: 300px;}
    .left_video, .right_video{
        padding: 10px;
    }
    .left{
        width: 100%;
        height: 5550px;
    }
    .right{display: none;
    }
    footer{margin-top: -380px;}
    .lastfooter{font-size: 14px;}
}
/*Android,iPhone View*/
@media (max-width:600px){
    .second_header_image img{width: 100%;}
    .social_media{
        text-align: center;
        padding-bottom: 10px;
        padding-right: 0px;
    }
    .main_heading h2{
        font-size: 17px;
        margin-left: -80px;
    }
    .news_part{
        width: 100%;
        height: 400px;
    }
    .news_head{
        height:304px;
    }
    .head_image{
        width: 60%;
        height: 300px;
    }
    .head_image img{
        height: 300px;
    }
    .head_text{
        width: 40%;
        height: 300px;
        padding: 5px;
    }
    .head_text p{
        font-size:13px;
    }
    .head_btn{
        padding: 0px;
        padding-left: 10px;
    }
    .head_btn i{
        font-size:15px;
    }
    .btn_3{
        border-radius: 12px;
        font-size: 13px;
        text-align: center;
        width: 100px;
        height: 35px;
        border: none;
    }
    .left_advertisement{padding: 85px 0px 10px 0px;}
    .left_advertisement img{width: 100%;}
    .main_news{padding: 7px 0px 0px 20px;}
    .item_image img{
        width: 50%;
        padding: 10px;
        height: 250px;
    }
    .item_text{
        width: 50%;
        height: 250px;
        padding: 7px;
    }
    .item_text h4{font-size: 12px;}
    .item_text h6{font-size: 10px;}
    .item_text p{font-size: 12px;}
    .head_btn_last{padding: 0px 10px 0px 0px; margin-top: -15px;}
    .head_btn_last i{font-size:15px;}
    .head_btn_last .btn_last{
        font-size: 13px;
        width: 90px;
        height: 35px;
    }
    .left_video iframe{height: 300px;}
    .left_video, .right_video{
        padding: 10px;
    }
    .left{
        width: 100%;
        height: 5550px;
    }
    .right{display: none;
    }
    .lastfooter{font-size: 14px;}
}
@media (max-width:450px){
    html{
        overflow-x: hidden; 
    }
    .social_media{
        padding-right: 5px;
    }
    .social{
        height:27px; 
        padding: 4px;
        width:27px;
    }
    .social_media{
        text-align: center;
        padding-bottom: 10px;
    }
    .telephone_image img{width: 35px; height: 35px;}
    .telephone_text h5{ padding:13px 0px 0px 5px;font-size: 12px;line-height: 0;}
    .search_button{width: 250px;}
    .second_header_image img{width: 100%;}
    .main_heading h2{
        font-size: 12.5px;
    }
    .news_part{
        width: 100%;
        height: 400px;
    }
    .news_head{
        height:254px;
        border: 0px solid red;
        box-shadow: 0px 0px 0px 0px red;
    }
    .head_image{
        width: 60%;
        height: 250px;
    }
    .head_image img{
        height: 250px;
    }
    .head_text{
        width: 40%;
        height: 250px;
        padding: 5px;
    }
    .head_text p{
        font-size:10px;
        overflow: hidden;
    }
    .head_btn{
        padding: 0px;
        padding-left: 10px;
        margin-top: -15px;
    }
    .head_btn i{
        font-size:12px;
    }
    .btn_3{
        border-radius: 12px;
        font-size: 11px;
        width: 90px;
        height: 25px;
        border: none;
    }
    .important_news > h1{font-size: 24px;}
    .hasImg > img{height: 250px;}
    .post_news .container .row .col-lg-7 > img{height: 200px;}
    .post_news .container .row .col-lg-7 > h3 {padding-top: 5px; font-size: 18px;}
    .post__info{padding-bottom: 10px;}
    .left_advertisement{padding: 35px 0px 10px 0px;}
    .left_advertisement img{width: 100%;}
    .main_news{padding: 7px 0px 0px 20px;}
    .item_image img{
        width: 50%;
        padding: 10px;
        height: 200px;
    }
    .item_text{
        width: 50%;
        height: 200px;
        overflow: hidden;
        padding: 7px;
    }
    .item_text h4{font-size: 10px;}
    .item_text h6{font-size: 9px;}
    .item_text p{font-size: 9px;}
    .head_btn_last{padding: 0px 10px 0px 0px; margin-top: -15px;}
    .head_btn_last i{font-size:15px;}
    .head_btn_last .btn_last{
        font-size: 11px;
        width: 90px;
        height: 25px;
    }
    .left_video iframe{height: 300px; width: 100%;}
    .left_video, .right_video{
        padding: 10px;
    }
    .right_video_first iframe , .right_video_first img{padding-right: 10px;}
    .section_part{height: 5515px}
    .left{
        width: 100%;
        height: 5350px;
    }
    .right{display: none;}
    .main_footer{padding: 10px 5px 10px 0px;}
    .lastfooter{font-size: 14px;}
}