body{
    margin: 0px;
    padding: 0px;
}
html{
    overflow-x: hidden; 
}
.main_header{
    border: none;
    background-color: red;
    color: white;
    height:100%;
    padding: 5px 0px 10px 0px;
}
.social_media{
    padding-right: 10px;
}
.social{
    background-color: black; 
    color: white;
    border: 1px solid black; 
    height:35px; 
    padding-top: 8px;
    width:35px;
}
.telephone{
    display: flex;
    align-items: center;
    justify-content:center;
}
.telephone_image{padding-top: 5px;}
.telephone_text h5{ padding:13px 0px 0px 10px;font-size: 15px;line-height: 0;}
.search_button{
    padding-left: 40px;
    opacity: 0.9;
    height: 40px;
    width: 300px;
}
.search span{
    background-color: rgb(14, 4, 75);
    margin-left: -5px;
    height: 28px;
    padding: 10px;
    width:35px;
}
.second_header{
    padding: 5px 0px 5px 0px;
}
.navbar{padding: 0px;}
.logo{
    background-color: rgb(139, 127, 127); 
    color: red;
    height:55px; 
    width:100px;
    font-size: 30px;
}
.logo i{padding: 0px 0px 0px 30px; color: red;}
.nav-item{
    padding-left: 20px;
}
.second_nav_bar{
    background-color:  red;
    padding: 10px 0px 0px 10px;
    display: inline-block;
    width: 100%;
    height: 40px;
}
.second{
    color: rgb(56, 36, 187);
    font-weight: bold;
    border-right-style: solid;
    padding-left: 5px;
    padding-right:15px; 
    width: 100%;
}
.third{
    color: rgb(56, 36, 187);
    font-weight: bold;
    padding-left: 5px;

}
.second:hover{
    text-decoration: none;
    color: white;
}
.second_nav_bar > a:active {
    color: white;
}
.section_part{
    width: 100%;
    height: 5730px;
}
.right{
    width:20%;
    height: 5730px;
    float: right;
}
.left{
    width:80%;
    height: 5730px;
    float:left;
}
.important_news > h1{
    padding:10px 10px 0px 10px;
    text-align: center;
    color: rgb(56, 36, 187);
}
.post__info{text-align: center;}
.post__info span{padding-right: 15px;}
.hasImg{padding: 15px 15px 0px 15px;}
.important_news > p {
    margin: 15px auto 15px;
    font-size: 20px;
    color: rgba(0,0,0,.6);
    text-align: center;
    line-height: 150%;
    position: relative;
    border-bottom: solid 1px rgba(0,0,0,.14);
    padding: 10px 20px 20px 20px;
}
.important_left_advertisement{padding: 0px 0px 10px 50px;}
.important_news_image{padding:0px 0px 10px 10px;}
.post_news{padding: 20px 0px 20px 0px;}
.btn{
    background-color: red;
    color: white;
    width: 100%;
    font-weight: bold;
    height:40px;
}
.advertisement h6{
    padding: 10px 0px 0px 10px;
    font-size: 14px;
    color: red;
}
.advertisement{
    background-color: rgb(201, 197, 197);
}
.btn_value{padding: 10px 0px 10px 60px;}
.btn_2{
    background-color: rgb(14, 4, 75);
    color: white;
    border: 1px solid rgb(14, 4, 75);
    border-radius: 12px;
    font-size: 24px;
    text-align: center;
    width: 150px;
    height: 40px;
    border: none;
}
.news_part{
    width: 100%;
    height: 600px;
}
.news_head{
    border: 2px solid red;
    box-shadow: 0px 0px 6px 1px red;
    height:437px;
    width: 100%;
}
.head_image{
    width: 70%;
    float: left;
    height: 433px;
}
.head_text{
    background-color: rgb(201, 197, 197);
    color: red;
    float: right;
    width: 30%;
    height: 433px;
    padding: 40px 20px 0px 20px;
    text-align: justify;
}
.head_btn{padding: 90px 0px 0px 50px;}
.head_btn i{
    color: black; 
    font-size:25px;
}
.btn_3{
    background-color: rgb(14, 4, 75);
    color: white;
    border: 1px solid rgb(14, 4, 75);
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    width: 130px;
    height: 40px;
    margin-left: 10px;
    border: none;
}
.news_slider{
    background-color: rgb(177, 169, 169);
    height: 172px;
    width: 100%;
    padding: 3px;
}
.news_one, .news_two, .news_three, .news_four, .news_five, .news_six, .news_seven, .news_eight, .news_nine, .news_ten{
    border: 2px solid rgb(177, 169, 169);
    background-color: rgb(201, 197, 197);
    height: 165px;
    width: 160px;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    float: left;
}
.left_advertisement{padding: 20px 0px 10px 50px;}
.main_news{
    background-color: red;
    color: white;
    width: 100%;
    height: 40px;
    padding: 8px 0px 0px 30px;
}
.main_news_item{
    width: 100%;
}
.item_image img{
    width: 45%;
    height: 300px;
    padding: 15px;
    float: left;
}
.item_text{
    width: 55%;
    padding: 15px;
    height: 300px;
    float: right;
}
.item_text h4{ font-size:20px;}
.item_text h6{
    font-size: 14px;
    color: red;
}
.head_btn_last{
    padding: 30px 20px 0px 0px; 
    float: right;
}
.head_btn_last i{
    font-size:25px;
    color: black;
}
.btn_last{
    background-color: rgb(14, 4, 75);
    color: white;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    width: 130px;
    height: 40px;
    margin-left: 10px;
    border: none;
}
.owl-dots, .owl-nav{
    display: none;
}
.left_video{padding: 30px 0px 0px 20px;}
.right_video{padding: 30px 0px 0px 5px;}
.right_video_first{padding-bottom: 5px;}
.right_video_first h6 p{
    float: right; 
    padding-right:60px; 
    opacity:0.7;
}
.right_video_first iframe , .right_video_first img{
    float: left; 
    padding-right: 10px;
}
.right_video_first .word{padding-left: 10px;}
.main_footer{
    padding: 20px;
}
.main_footer_first{
    padding: 20px 0px 0px 30px;
}
.lastfooter{
    background-color: black;
    color: white;
    text-align: center;
}
.footer{
    background-color: rgb(14, 4, 75);
    padding-left: 10px;
}
.footer h4{
    text-align: center;
}

.footer p{
    color: white;
}
.last a{
    text-decoration: none;
    opacity: 0.6;
    color: white;
}
.last a:hover{
    text-decoration: none;
    opacity: 1.0;
    color: white;
}